body{
    background: black;
    color: white;
}
.container{
    background: black;
    color: yellow;
    
}
.row {
    color: yellow;
}
h1 {
    color: white;
    text-align: center;
}
strong{
    color: white;
    margin: 480px;
       
}
h2{
    margin: 100px;
    
}
button{
    display:block;
    margin: 0 auto;
    background: yellow;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1 px solid yellow;

}